.tags {
  gap: var(--size-2);
}

.tag {
  color: var(--indigo-10);
  font-size: var(--font-size-0);
  text-transform: uppercase;
  border: var(--border-size-1) solid var(--indigo-5);
  padding-inline: var(--size-3);
  padding-block: var(--size-1);
  border-radius: var(--radius-round);

  @media (--OSdark) {
    border-color: var(--indigo-5);
    color: var(--indigo-3);
  }
}