.Tags {
  gap: var(--size-2);
}

.Tag {
  background-color: var(--indigo-0);
  color: var(--indigo-8);
  font-size: var(--font-size-0);
  text-transform: uppercase;
  border: var(--border-size-1) solid var(--indigo-1);
  padding-inline: var(--size-2);
  border-radius: var(--radius-round);
  letter-spacing: var(--font-letterspacing-3);

  @media (--OSdark) {
    background-color: hsl(var(--indigo-12-hsl) / 50%);
    border-color: hsl(var(--indigo-12-hsl) / 75%);
    color: var(--indigo-2);
  }

  @nest [data-theme="dark"] & {
    background-color: hsl(var(--indigo-12-hsl) / 50%);
    border-color: hsl(var(--indigo-12-hsl) / 75%);
    color: var(--indigo-2);
  }
}