@media (--motionNotOK) {
  .PostItem {
    view-transition-name: none !important;

    & > figure > img,
    & > h2,
    & > img:first-of-type {
      view-transition-name: none !important;
    }
  }
}

.PostItem {
  --_avatar-column-size: 40px;

  max-inline-size: max-content;
  font-size: var(--font-size-2);
  display: grid;
  grid-template-columns: var(--_avatar-column-size) minmax(1ch,1fr);
  gap: var(--size-2) var(--size-inline-1);
  background: var(--surface-1);
  box-shadow: var(--shadow-5);
  padding: var(--size-inline-1);
  border-radius: var(--radius-3);
  border: 0px solid transparent;

  @media (--md-n-above) {
    --_avatar-column-size: 50px;
    padding-block: var(--size-inline-1) var(--size-4);
    font-size: var(--font-size-3);
  }

  @media (forced-colors: active) {
    border-width: var(--border-size-1);
  }

  &:focus-visible {
    scroll-snap-align: start;
  }

  .PostDetail & footer,
  & .like-button {
    display: none;
  } 

  & > * {
    grid-column: 2;
  }

  &.note .Tags {
    display: none;
  }

  & > .Persona {
    grid-column: 1;
    grid-row: span 2;
    z-index: 1;
    position: sticky;
    inset-block-start: var(--size-inline-1);
  }

  & :is(ul, ol) {
    padding: 0;

    & > li:hover {
      list-style-type: disc;
    }
  }

  & ul {
    gap: var(--size-1);
  }

  & li {
    padding: 0;
    list-style-type: circle;

    &::marker {
      color: var(--gray-6);
    }
  }

  & > footer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--size-3);
    margin-block-start: var(--size-3);
  }

  & h2 {
    max-inline-size: 100%;
    font-size: var(--font-size-4);
    margin-block: var(--size-3) calc(var(--size-2) * -1);
    text-wrap: balance;
  }

  &:has(> figure) h2 {
    grid-column: -1 / 1;
  }

  & h3 {
    font-size: var(--font-size-2);
  }

  & code {
    padding-inline: var(--size-1);
  }

  & > figure {
    margin-block: var(--size-3);

    & + footer {
      margin-block-start: 0;
    }
  }

  & > section {
    margin-block: var(--size-2) var(--size-4);
    display: grid;
    gap: var(--size-3);

    &:has(> p:only-child) {
      margin-block: 0;
    }

    & :is(img, video) {
      border-radius: var(--radius-3);
    }
  }

  & > header {
    align-items: baseline;
    justify-content: space-between;
    color: var(--text-2);

    & time {
      font-size: var(--font-size-0);
    }

    & .username {
      color: var(--text-1);
      font-weight: var(--font-weight-7);
    }
  }

  & pre, & code {
    background: var(--gray-0);

    @media (--OSdark) {
      background: var(--gray-11);
    }

    [data-theme="light"] & {
      background: var(--gray-0);
    }

    [data-theme="dark"] & {
      background: var(--gray-11);
    }
  }

  & blockquote {
    border: none;
    padding-inline-start: 0;
    padding-block-end: 0;

    &::before {
      content: 'âž';
      display: flex;
      color: var(--surface-4);
      font-size: var(--font-size-8);
      line-height: .5;
    }
  }

  & small {
    font-size: var(--font-size-1);
  }

  & hr {
    margin-block: var(--size-4);
    background-color: var(--surface-2);
    block-size: 1px;
  }

  & cite {
    display: inline-block;
    border: none;
    padding-inline: 0;
    margin-block-start: var(--size-3);

    &::before {
      content: '~ ';
    }
  }

  & iframe {
    max-inline-size: 100%;
    aspect-ratio: var(--ratio-widescreen);
  }

  & details {
    justify-self: start;
    margin-block-end: var(--size-3);
  }

  & a {
    word-break: break-word;
  }

  &:has(figure) {
    & > footer, & > figure, & > p {
      grid-column: span 2;
    }

    & > figure {
      margin-inline: calc(var(--size-inline-1) * -1);
    }
  }

  &:has(section > pre) {
    & > section {
      display: contents;

      & > *:not(pre) {
        grid-column: 2;
      }
    }

    & section > pre {
      padding: 0;
      max-inline-size: initial;
      border-radius: 0;
      grid-column: 1 / -1;
      margin-inline: calc(var(--size-inline-1) * -1);

      & > code {
        padding: 0;

        & > pre, & > pre > code {
          border-radius: 0;
        }

        & > pre > code {
          padding: 0;
        }

        & > pre {
          padding: var(--size-3);

          @media (--sm-n-above) {
            --column-plus-padding-and-gap: calc(var(--_avatar-column-size) + calc(var(--size-inline-1) * 2));
            padding-inline-start: var(--column-plus-padding-and-gap);
          }
        }
      }
    }
  }

  &[data-tags*="blog"] {
    & > footer {
      justify-content: space-between;
    }
  }
}