.PostItem {
  --_avatar-column-size: 40px;

  display: grid;
  grid-template-columns: var(--_avatar-column-size) 1fr;
  gap: var(--size-2) var(--size-3);
  background: var(--surface-1);
  box-shadow: var(--shadow-5);
  padding: var(--size-inline-1);
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid transparent;
  cursor: auto;

  @media (--md-n-above) {
    --_avatar-column-size: 50px;
    gap: var(--size-2) var(--size-5);
    padding-block: var(--size-4);
  }

  &:nth-child(odd)  { transform-origin: 125% 100% }
  &:nth-child(even) { transform-origin: -25% 100% }

  /* todo: remove share icon from tweet when in detail */

  & > * {
    grid-column: 2;
  }

  & > .Persona {
    grid-column: 1;
    grid-row: span 2;
  }

  & > footer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: var(--size-3);
    margin-block-start: var(--size-3);
  }

  & h3 {
    font-size: var(--font-size-2);
  }

  & code {
    padding-block: .1rem var(--size-1);
    padding-inline: var(--size-1);
  }

  & > figure {
    margin-block: var(--size-3);
  }

  & > section {
    margin-block: var(--size-2) var(--size-4);
    display: grid;
    gap: var(--size-3);
  }

  & > header {
    align-items: baseline;
    justify-content: space-between;
    color: var(--text-2);

    & time {
      font-size: var(--font-size-0);
    }

    & .username {
      color: var(--text-1);
      font-weight: var(--font-weight-7);
    }
  }

  & pre {
    background: var(--gray-0);

    @media (--OSdark) {
      background: var(--gray-11);
    }
  }

  &:has(figure) {
    & > footer, & > figure, & > p {
      grid-column: span 2;
    }

    & > figure {
      margin-inline: calc(var(--size-inline-1) * -1);
    }
  }

  &[data-tags*="blog"] {
    & > footer {
      justify-content: start;
    }
  }
}