.MediaScroller {
  display: flex;
  gap: var(--size-3);
  padding-block-end: var(--size-3);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  aspect-ratio: var(--ratio-widescreen);

  & > overscroll-effect {
    inline-size: 25%;
    flex-shrink: 0;
  }

  /* todo: if 1 child, fit it's width */

  @nest .PostItem & {
    --_inline-offset: calc(var(--size-inline-1) * 2 + var(--_avatar-column-size));
    
    grid-column: span 2;
    margin-inline: calc(var(--size-inline-1) * -1);
    padding-inline-start: var(--_inline-offset);
    scroll-padding-inline: var(--_inline-offset);

    & :is(img,video) {
      object-fit: cover;
      scroll-snap-align: start;
      /* max-inline-size: min-content; */
      border-radius: var(--radius-3);
    }
  }
}