.TopicsAsideMobile {
  --icon-arrow-down: url(https://api.iconify.design/ic:keyboard-arrow-down.svg?color=%23adb5bd);

  appearance: none;
  margin-inline-end: auto;
  padding-inline-end: 1.75rem;

  background-repeat: no-repeat;
  background-image: var(--icon-arrow-down);
  background-position: calc(100% - .25ch) center;
  background-size: 3ex;

  &:not(:focus-visible) {
    background-color: #0000;
  }

  @media (--md-n-above) {
    display: none;
  }

  & option {
    background: var(--surface-document);
  }
}