.Likes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  list-style-type: none;
  padding-inline: 0 24px;

  & > li {
    padding: 0;
    margin-inline-end: -24px;
    transition: translate .8s var(--ease-squish-3);

    &:hover {
      translate: 0 -5px;
    }

    & > a {
      padding: 0;
      margin: 0;
    }

    & img {
      border-radius: var(--radius-round);
      aspect-ratio: var(--ratio-square);
    }
  }
}