.Mentions {
  display: grid;
  gap: var(--size-7); 
  max-inline-size: var(--size-content-2);

  & > .join-convo {
    display: flex;
    align-items: center;
    gap: var(--size-2);

    & a {
      border-radius: var(--radius-round);
    }
  }

  & > .stats {
    margin-block-end: var(--size-10);
  }
}

.Mention {
  margin-block-end: 2ex;

  & q {
    font-size: var(--font-size-2);

    &:has(.reply-gallery) {
      gap: var(--size-3);
    }
  }

  & .reply-gallery {
    display: flex;
    gap: var(--size-2);
    max-block-size: var(--size-content-1);

    & img {
      border-radius: var(--radius-3);
      block-size: 100%;
      object-fit: cover;
    }
  }
}

.mention-header {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  padding-block-end: var(--size-2);

  & .Tag {
    font-size: var(--font-size-1);
  }
}