.Home {
  display: grid;
  gap: var(--size-inline-1);
  grid-template-columns: [feed] 1fr;

  @supports(selector(:has(*))) {
    @media (--md-n-above) {
      grid-template-columns: 
        [aside] var(--size-content-1) 
        [feed] 1fr 
      ;
      margin-block-start: var(--size-5);
    }

    @media (--lg-n-above) {
      grid-template-columns: 
        [aside] var(--size-content-1) 
        [feed] 1fr 
      ;
      max-width: max-content;
      margin-inline: auto;
      margin-block-start: var(--size-9);
    }
  }

  @media (--md-n-above) {
    & .Footer {
      grid-column: 2;
    }
  }
}