.Home {
  display: grid;
  justify-content: center;
  gap: var(--size-inline-1);
  grid-template-columns: [feed] 1fr;

  @media (--md-n-above) {
    grid-template-columns: 
      [aside] var(--size-content-1) 
      [feed] minmax(0, var(--size-content-3)) 
    ;
    margin-block-start: var(--size-5);
  }

  @media (--lg-n-above) {
    gap: var(--size-9);
    margin-block-start: var(--size-9);
    margin-inline: auto;
  }

  @media (height <= 500px) {
    margin-block-start: 0;
  }

  @media (--md-n-above) {
    & .Footer {
      grid-column: 2;
    }
  }

  @media (horizontal-viewport-segments: 2) {
    --col-padding: calc(var(--size-inline-1) * 2);
    grid-template-columns: 
      [aside] calc(env(viewport-segment-width 1 0) - var(--col-padding)) 
      [feed] calc(env(viewport-segment-width 0 0) - var(--col-padding))
    ;
    gap: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0) + var(--col-padding));
  }
}