.TableOfContents {
  display: none;
  flex-direction: column;
  gap: var(--size-2);
  align-items: start;
  margin-block-start: var(--size-10);

  position: sticky;
  inset-block-start: calc(var(--nav-height) + var(--size-5));

  max-block-size: calc(100vh - var(--nav-height) - var(--size-5));
  max-block-size: calc(100dvb - var(--nav-height) - var(--size-5));
  overflow: auto;
  padding-block-end: var(--size-2);
  padding-inline-end: var(--size-2);

  @container (min-inline-size: 900px) {
    display: flex;
  }

  & a:not(:hover) {
    color: var(--text-2);
    text-transform: capitalize;
  }

  & > a {
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      opacity: 0;
      display: inline-block;
      content: "";
      inset-inline-start: -2ch;
      margin-inline-end: var(--size-2);
      inline-size: var(--size-1);
      block-size: 1em;
      border-radius: var(--radius-round);
      background: var(--neon-pink);
      animation: scroll-spy linear both;
      animation-range: entry-crossing 0% contain 100%;
    }

    @media (--OSdark) {
      &::before {
        background: var(--neon-yellow);
      }
    }

    &:nth-of-type(1)::before { animation-timeline: --section-1 }
    &:nth-of-type(2)::before { animation-timeline: --section-2 }
    &:nth-of-type(3)::before { animation-timeline: --section-3 }
    &:nth-of-type(4)::before { animation-timeline: --section-4 }
    &:nth-of-type(5)::before { animation-timeline: --section-5 }
    &:nth-of-type(6)::before { animation-timeline: --section-6 }
  }
}

@keyframes scroll-spy {
  50% {
    opacity: 1;
  }
}