.PostDetail {
  max-inline-size: var(--size-content-3);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 100%;
  place-content: center;
  place-items: center;
  gap: var(--size-fluid-5);
  margin-block-end: var(--size-10);

  @media (--lg-n-above) {
    grid-template-columns: var(--size-content-3);
  }

  & > header {
    text-align: center;
  }

  & > :is(article, .Mentions) {
    margin-inline: var(--size-inline-1);
  }
}