.Webring {
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	place-items: center;
	padding-block-end: var(--size-5);
	text-align: center;

	[page-type="home"] & {
		@media (--md-n-above) {
			grid-column: span 2;
		}
	}

	& > div {
		display: flex;
		gap: var(--size-5);
	}
}