.BlogDetail {
  justify-items: center;
  max-inline-size: calc(var(--size-content-3) * 1.5);
  margin-inline: auto;
  padding-block-end: var(--size-fluid-4);
  padding-inline: var(--size-inline-1);
  contain: layout;

  @nest :not(.BlogHero) + & {
    margin-top: 25vh;
  }

  & > header {
    column-gap: var(--size-8);
    row-gap: var(--size-2);
    grid-template-columns: auto 1fr;
    margin-block-end: var(--size-fluid-4);

    & > * {
      grid-column: 2;

      @media (--md-n-below) {
        grid-column: -1 / 1;
      }
    }

    & > h1 {
      --color-1: var(--cyan-5);
      --color-2: var(--indigo-5);
      --color-3: var(--purple-5);
      --color-4: var(--indigo-5);
      --color-5: var(--cyan-5);
    
      margin-block-start: var(--size-3);
      background: linear-gradient(
        to top right, 
        var(--color-1) 19%, 
        transparent 19%, transparent 20%, 
        var(--color-2) 20%, var(--color-2)  39%,
        transparent 39%, transparent 40%, 
        var(--color-3) 40%, var(--color-3) 59% ,
        transparent 59%, transparent 60%, 
        var(--color-4) 60%, var(--color-4) 79%,
        transparent 79%, transparent 80%, 
        var(--color-5) 80%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    & > img {
      --_avatar-size: calc(var(--size-content-1) * .5);
      grid-column: 1;
      grid-row: span 3;
      inline-size: var(--_avatar-size);
      margin-block-start: calc(var(--_avatar-size) / 2 * -1);
      box-shadow: 0 0 0 var(--size-2) var(--surface-document);

      @media (--md-n-above) {
        --_avatar-size: calc(var(--size-content-1) * .75);
      }
    }

    & > time {
      color: var(--text-2);
      line-height: 1;
    }

    & > p {
      font-size: var(--size-font-0);
      max-inline-size: var(--size-content-2);
      contain: layout;

      @media (--md-n-below) {
        grid-column: -1/1;
      }
    }
  }

  & > article {
    border: 1px solid transparent;
    border-radius: var(--radius-3);
    gap: var(--size-7);
    contain: layout;

    & :is(img, video) {
      justify-self: center;
      border-radius: var(--radius-3);
    }

    & p {
      line-height: var(--font-lineheight-4);
    }

    & :is(h2, h3, h4, h6, h6) {
      margin-block-start: var(--size-fluid-3);
      margin-block-end: calc(var(--size-5) * -1);

      &:not(:hover) > a {
        opacity: .15;
      }
    }

    & q {
      max-inline-size: var(--size-content-2);
      padding: var(--size-4);
      padding-inline: var(--size-6);
      background-color: var(--surface-1);
      border-radius: var(--radius-3);
      filter: drop-shadow(0px 4px 4px hsl(0 0% 0% / 10%));
      position: relative;

      &::before {
        content: url("https://api.iconify.design/mingcute:quote-right-fill.svg?color=%23495057");
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--surface-document);
        padding: var(--size-3);
        clip-path: circle(40%);
      }

      &.warning::before {
        content: url("https://api.iconify.design/mdi:lightning-bolt.svg?color=%2300ff00");
      }

      &.info::before {
        content: url("https://api.iconify.design/material-symbols:rocket-launch-rounded.svg?color=%235c7cfa");
      }

      &::after {
        display: none;
      }

      & > cite {
        border: none;
        background: var(--surface-2);
        color: var(--text-1);
        position: absolute;
        inset-inline-end: 1ch;
        inset-block-end: -2ex;
        padding-inline: var(--size-3);
        border-radius: var(--radius-3);
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-4);
        line-height: var(--font-lineheight-5);
        font-style: normal;
      }
    }
  }

  & pre {
    max-inline-size: 100%;
  }

  & a {
    word-break: break-all;
  }

  & .read-time {
    display: flex;
    gap: var(--size-2);
  }
}