.BlogDetail {
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  margin-inline: auto;
  padding-block-end: var(--size-fluid-4);
  padding-inline: var(--size-inline-1);
  gap: var(--size-8);
  contain: layout;

  @nest :not(.BlogHero) + .BlogMeta + & {
    margin-block-start: 20vh;
  }

  @container (min-inline-size: 900px) {
    margin-block-start: var(--size-10);
    grid-template-columns: var(--size-content-3) var(--size-content-1);

    & > aside {
      grid-column: 2;
    }
  }

  & > article {
    grid-row: 1;
    border: 1px solid transparent;
    border-radius: var(--radius-3);
    gap: var(--size-7);
    contain: layout;

    & :is(img, video) {
      justify-self: center;
      border-radius: var(--radius-3);
    }

    & p {
      line-height: var(--font-lineheight-4);
    }

    & > p:first-of-type {
      &::first-letter {
        font-size: 6.5ex;
        font-size: 2lh;
        font-weight: var(--font-weight-8);
        float: left;
        float: start;
        line-height: 1;
        margin-inline-end: var(--size-1);
        text-transform: uppercase;
      }
      &::first-line {
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-4);
      }
    }

    & :is(h2, h3, h4, h6, h6) {
      margin-block-end: calc(var(--size-5) * -1);

      &:not(:first-child) {
        margin-block-start: var(--size-fluid-3);
      }

      &:not(:hover) > a {
        opacity: .15;
      }
    }

    @media (--md-n-below) {
      & h2 { font-size: var(--font-size-5) }
      & h3 { font-size: var(--font-size-4) }
      & h4 { font-size: var(--font-size-3) }
    }
  }

  & > .Footer {
    justify-self: center;
  }

  & pre {
    max-inline-size: 100%;
  }

  & a {
    word-break: break-word;
  }
}