.BlogDetail {
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  margin-inline: auto;
  padding-block-end: var(--size-fluid-4);
  padding-inline: var(--size-inline-1);
  gap: var(--size-8);
  contain: layout;

  @nest :not(.BlogHero) + .BlogMeta + & {
    margin-top: 20vh;
  }

  @media (width >= 900px) {
    margin-block-start: var(--size-10);
    grid-template-columns: var(--size-content-3) var(--size-content-1);
  }

  & > article {
    grid-row: 1;
    border: 1px solid transparent;
    border-radius: var(--radius-3);
    gap: var(--size-7);
    contain: layout;

    & :is(img, video) {
      justify-self: center;
      border-radius: var(--radius-3);
    }

    & p {
      line-height: var(--font-lineheight-4);

      &:first-of-type {
        &::first-letter {
          font-size: 6.5ex;
          font-size: 2lh;
          font-weight: var(--font-weight-8);
          float: left;
          float: start;
          line-height: 1;
          margin-inline-end: var(--size-1);
          text-transform: uppercase;
        }
        &::first-line {
          font-size: var(--font-size-4);
          font-weight: var(--font-weight-4);
        }
      }
    }

    & :is(h2, h3, h4, h6, h6) {
      margin-block-end: calc(var(--size-5) * -1);

      &:not(:first-child) {
        margin-block-start: var(--size-fluid-3);
      }

      &:not(:hover) > a {
        opacity: .15;
      }
    }

    & q {
      max-inline-size: var(--size-content-2);
      padding: var(--size-4);
      padding-inline: var(--size-6);
      background-color: var(--surface-1);
      border-radius: var(--radius-3);
      /* filter: drop-shadow(0px 4px 4px hsl(0 0% 0% / 10%)); */
      box-shadow: var(--shadow-2);
      position: relative;

      &::before {
        content: url("https://api.iconify.design/mingcute:quote-right-fill.svg?color=%23495057");
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        transform: translateX(-50%) translateY(-50%);
        background-color: var(--surface-document);
        padding: var(--size-3);
        clip-path: circle(40%);
      }

      &.warning::before {
        content: url("https://api.iconify.design/mdi:lightning-bolt.svg?color=%2300ff00");
      }

      &.info::before {
        content: url("https://api.iconify.design/material-symbols:rocket-launch-rounded.svg?color=%235c7cfa");
      }

      &::after {
        display: none;
      }

      & > cite {
        border: none;
        background: var(--surface-1);
        box-shadow: var(--shadow-2);
        color: var(--text-1);
        position: absolute;
        inset-inline-end: var(--size-3);
        inset-block-end: -2ex;
        padding-inline: var(--size-3);
        border-radius: var(--radius-3);
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-4);
        line-height: var(--font-lineheight-5);
        font-style: normal;
      }
    }
  }

  & > aside {
    grid-column: 2;
  }

  & pre {
    max-inline-size: 100%;
  }

  & a {
    word-break: break-word;
  }

  & .read-time {
    display: flex;
    gap: var(--size-2);
  }
}