.BlogHero {
  display: flex;
  justify-content: center;
  margin-inline: var(--size-3);

  @media (--md-n-above) {
    margin-block-start: var(--size-5);
    margin-inline: var(--size-5);
  }

  & > div {
    max-inline-size: calc(var(--size-content-3) * 1.5);
  }

  & img {
    border-radius: var(--radius-5);
    box-shadow: var(--shadow-5);

    @media (--motionOK) {
      animation-name: hero-scroll-effect;
      animation-fill-mode: both;
      animation-timeline: scroll();
      animation-range: 0vh 90vh;
    }
  }
}

@keyframes hero-scroll-effect {
  from {
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    opacity: 0;
    transform: scale(0.9) translateY(10vh);
  }
}