.BlogHero {
  display: flex;
  justify-content: center;
  margin-inline: var(--size-3);

  position: relative;
  z-index: -1;

  @media (--md-n-above) {
    margin-block-start: var(--size-5);
    margin-inline: var(--size-5);
  }

  & > div {
    max-inline-size: calc(var(--size-content-3) * 1.5);
  }

  & img {
    border-radius: var(--radius-5);
    box-shadow: var(--shadow-5);
  }
}