.BlogMeta {
  margin-inline: auto;
  padding-inline: var(--size-inline-1);
  column-gap: var(--size-8);
  row-gap: var(--size-2);
  grid-template-columns: auto minmax(0, var(--size-content-3));
  margin-block-end: var(--size-fluid-4);

  & > * {
    grid-column: 2;

    @media (--md-n-below) {
      grid-column: -1 / 1;
    }
  }

  & .read-time {
    display: flex;
    gap: var(--size-2);
  }

  & > h1 {
    --color-1: var(--cyan-5);
    --color-2: var(--indigo-5);
    --color-3: var(--purple-5);
    --color-4: var(--indigo-5);
    --color-5: var(--cyan-5);
  
    margin-block-start: var(--size-3);
    background: linear-gradient(
      to top right, 
      var(--color-1) calc(19% - 1px), 
      transparent 19%, transparent calc(20% - 1px), 
      var(--color-2) 20%, var(--color-2) calc(39% - 1px),
      transparent 39%, transparent calc(40% - 1px), 
      var(--color-3) 40%, var(--color-3) calc(59% - 1px),
      transparent 59%, transparent calc(60% - 1px), 
      var(--color-4) 60%, var(--color-4) calc(79% - 1px),
      transparent 79%, transparent calc(80% - 1px), 
      var(--color-5) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @media (--xs-n-below) {
      font-size: var(--font-size-6);
    }

    @media (--xxs-n-below) {
      font-size: var(--font-size-5);
    }
  }

  & > img {
    --_avatar-size: calc(var(--size-content-1) * .5);
    grid-column: 1;
    grid-row: span 3;
    inline-size: var(--_avatar-size);
    margin-block-start: calc(var(--_avatar-size) / 2 * -1);
    box-shadow: 0 0 0 var(--size-2) var(--surface-document);

    @media (--md-n-above) {
      --_avatar-size: calc(var(--size-content-1) * .75);
    }
  }

  & > time {
    color: var(--text-2);
    line-height: 1;
  }

  & > p {
    font-size: var(--size-font-0);
    max-inline-size: var(--size-content-2);

    @media (--md-n-below) {
      grid-column: -1/1;
    }
  }
}