.BlogMeta {
  margin-inline: auto;
  padding-inline: var(--size-inline-1);
  column-gap: var(--size-8);
  row-gap: var(--size-2);
  grid-template-columns: auto minmax(0, var(--size-content-3));
  margin-block-end: var(--size-fluid-4);

  & > * {
    grid-column: 2;

    @media (--md-n-below) {
      grid-column: -1 / 1;
    }
  }

  & .read-time {
    display: flex;
    gap: var(--size-2);
  }

  & > h1 {
    --color-1: var(--neon-purple);
    --color-2: var(--neon-cyan);
    --color-3: var(--neon-pink);
    --color-4: var(--neon-cyan);
    --color-5: var(--neon-purple);
  
    margin-block-start: var(--size-3);
    background: linear-gradient(
      to top right, 
      var(--color-1) calc(19% - 1px), 
      transparent 19%, transparent calc(20% - 1px), 
      var(--color-2) 20%, var(--color-2) calc(39% - 1px),
      transparent 39%, transparent calc(40% - 1px), 
      var(--color-3) 40%, var(--color-3) calc(59% - 1px),
      transparent 59%, transparent calc(60% - 1px), 
      var(--color-4) 60%, var(--color-4) calc(79% - 1px),
      transparent 79%, transparent calc(80% - 1px), 
      var(--color-5) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    word-break: break-word;
    text-wrap: balance;

    [data-theme="dark"] & {
      --color-1: var(--neon-purple-on-dark);
      --color-2: var(--neon-pink);
      --color-3: var(--neon-cyan);
      --color-4: var(--neon-pink);
      --color-5: var(--neon-purple-on-dark);
    }

    @media (--sm-n-below) {
      font-size: var(--font-size-7);
    }

    @media (--xs-n-below) {
      font-size: var(--font-size-6);
    }

    @media (--xxs-n-below) {
      font-size: var(--font-size-5);
    }
  }

  & > .Persona {
    --_avatar-size: calc(var(--size-content-1) * .5);
    grid-column: 1;
    grid-row: span 3;
    inline-size: var(--_avatar-size);
    margin-block-start: calc(var(--_avatar-size) / 2 * -1);
    box-shadow: 0 0 0 var(--size-2) var(--surface-document);

    @media (--md-n-above) {
      --_avatar-size: calc(var(--size-content-1) * .75);
    }

    @supports (animation-timeline: scroll()) {
      @media (--motionOK) {
        animation-name: author-scroll-effect;
        animation-fill-mode: both;
        animation-timeline: scroll();
        animation-range: 0vh 90vh;
      }
    }
  }

  & > time {
    color: var(--text-2);
    line-height: 1;
  }

  & > p {
    font-size: var(--size-font-0);
    max-inline-size: var(--size-content-2);

    @media (--md-n-below) {
      grid-column: -1/1;
    }
  }
}

@keyframes author-scroll-effect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8) translateY(10vh);
  }
}