.post-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: var(--size-5);
  margin: var(--size-5);
  list-style-type: none;
  padding-inline-start: 0;

  & > li {
    max-inline-size: inherit;
  }
}

.post-item {
  display: grid;
  gap: var(--size-2);
  background: var(--surface-1);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-5);
  padding-block: var(--size-3);
  padding-inline: var(--size-5);

  & > a {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  & h3 {
    font-size: var(--font-size-2);
  }
}