.PostItems {
  max-inline-size: var(--size-content-3);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: start; 
  gap: var(--size-fluid-3);
  list-style-type: none;
  margin-inline: var(--size-inline-1);
  padding-block-end: var(--size-10);

  @media (--md-n-above) {
    grid-template-columns: var(--size-content-2);
  }

  @media (--lg-n-above) {
    grid-template-columns: var(--size-content-3);
  }

  & > li {
    max-inline-size: inherit;
  }
}