.BlogDetail {
  justify-items: center;
  max-inline-size: calc(var(--size-content-3) * 1.5);
  margin-inline: auto;
  padding-block-end: var(--size-fluid-4);

  & > header {
    column-gap: var(--size-8);
    row-gap: var(--size-2);
    grid-template-columns: auto 1fr;
    margin-block-end: var(--size-fluid-4);
    margin-inline: var(--size-3);

    & > * {
      grid-column: 2;
    }

    & > img {
      --_avatar-size: calc(var(--size-content-1) * .75);
      grid-column: 1;
      grid-row: span 4;
      inline-size: var(--_avatar-size);
      margin-block-start: calc(var(--_avatar-size) / 2 * -1);
      outline: var(--size-2) solid var(--surface-document);
    }

    & > time {
      padding-block-start: var(--size-3);
    }

    & > p {
      font-size: var(--size-font-0);
      max-inline-size: var(--size-content-2);
      padding-block: var(--size-3);
      padding-inline: var(--size-5);
      background-color: var(--surface-1);
      border: var(--border-size-1) solid var(--surface-2);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-2);
    }
  }

  & > article {
    background: var(--surface-1);
    border-radius: var(--radius-3);
    padding: var(--size-7);

    & img {
      justify-self: center;
      border-radius: var(--radius-3);
    }
  }
}