.page-nav {
  background-color: var(--surface-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-3);
  padding: var(--size-5);
  box-shadow: var(--shadow-3);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to right, 
      hsl(50 100% 50%), 
      hsl(100 100% 50%),
      hsl(150 100% 50%),
      hsl(200 100% 50%),
      hsl(250 100% 50%),
      hsl(300 100% 50%),
      hsl(350 100% 50%)
    );
    z-index: -1;
    translate: 0 -25%;
    filter: blur(30px);
  }

  & > h1 {
    font-size: var(--font-size-5);
  }
}