.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-3);
  padding-inline: var(--size-inline-1);
  padding-block: var(--size-3);
  /* background-color: var(--surface-1); */
  /* box-shadow: var(--shadow-3); */

  position: sticky;
  top: 0;
  z-index: var(--layer-1);
  opacity: 0;

  & > a:first-of-type {
    flex-grow: 1;
  }

  /* &::before {
    content: '';
    position: absolute;
    inset: 0;
    clip-path: inset(125% 0% -100% 0%);
    background: linear-gradient(
      to right, 
      hsl(50 100% 50%), 
      hsl(100 100% 50%),
      hsl(150 100% 50%),
      hsl(200 100% 50%),
      hsl(250 100% 50%),
      hsl(300 100% 50%),
      hsl(350 100% 50%)
    );
    z-index: -1;
    translate: 0 -25%;
    filter: blur(30px);
  } */

  & > h1 {
    font-size: var(--font-size-5);
  }
}