.filled-icon {
  fill: var(--text-2);
}

.icon-button {
  --_shadow-size: 0;
  --_shadow-color: var(--link);

  padding: var(--size-2);
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-round);
  box-shadow: 0 0 var(--_shadow-size) var(--_shadow-color);

  transition: 
    outline-offset 145ms var(--ease-2),
    box-shadow .5s var(--ease-out-4);

  &:hover:not(:active) {
    --_shadow-size: 5em;
  }

  &:active {
    --_shadow-size: 1.5em;
  }

  &:nth-of-type(2n) { --_shadow-color: var(--pink-5) }
  &:nth-of-type(3n) { --_shadow-color: var(--lime-5) }
  &:nth-of-type(4n) { --_shadow-color: var(--cyan-5) }
}