@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";
@import "icons.css";
@import "utilities.css";

@import "markdown.css";
@import "syntax-highlighting.css";
@import-glob "../components/**/*.css";
@import-glob "../islands/**/*.css";

:root {
  --surface-document: var(--surface-2);
  --surface-1: white;
  --size-inline-1: var(--size-3);

  background: var(--surface-document);

  @media (--OSdark) {
    --surface-document: var(--gray-12);
    --surface-1: var(--gray-10);
  }

  @media (--md-n-above) {
    --size-inline-1: var(--size-5);
  }

  @media (--lg-n-above) {
    --size-inline-1: var(--size-7);
  }
}