p:empty {
  display: none;
}

pre {
  overflow: auto;
  background: var(--surface-1);
  padding: var(--size-3);
  border-radius: var(--radius-3);

  @nest [data-theme="dark"] & {
    background: var(--gray-11);
  }
}

a:has(code) {
  text-underline-offset: 3px;
}