p:empty {
  display: none;
}

pre {
  overflow: auto;
  padding: var(--size-3);
  border-radius: var(--radius-3);
}

pre, :not(pre) > code {
  background: white;
  border: 1px solid var(--surface-2);
  font-size: var(--font-size-2);

  @media (--lg-n-above) {
    font-size: var(--font-size-3);
  }

  @media (--OSdark) {
    background: var(--gray-11);
    border: none;
  }

  @nest [data-theme="light"] & {
    background: white;
    border: 1px solid var(--surface-2);
  }

  @nest [data-theme="dark"] & {
    background: var(--gray-11);
    border: none;
  }
}

:not(pre) > code {
  font-size: var(--font-size-1);
}

a:has(code) {
  text-underline-offset: 3px;
}

.codepen-embed {
  inline-size: 1024px; 
  max-inline-size: 100%; 
  aspect-ratio: var(--ratio-widescreen);
}

.BlogDetail article li {
  @media (--motionOK) {
    view-timeline-name: --list-item-timeline;
    animation-name: list-item-scroll-effect;
    animation-fill-mode: both;
    animation-timeline: --list-item-timeline;
    animation-range: entry 25% cover 50%;
  }
}

@keyframes list-item-scroll-effect {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
}